{% extends 'Default.html' %}

{% block title %}
    Dashboard
{% endblock %}

{% block directeurContent %}
          <!-- Website Overview-->
          <div class="panel panel-default">
            <div class="panel-heading main-color-bg">
              <h3 class="panel-title">Project Overview</h3>
            </div>
            <div class="panel-body">
              <div class="col-md-3">
                <div class="well dash-box">
                  <h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{usersNumber}}</h2>
                  <h4>Employees</h4>
                </div>
              </div>
              <div class="col-md-3">
                <div class="well dash-box">
                  <h2><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> {{totalTasks}}</h2>
                  <h4>Total Tasks</h4>
                </div>
              </div>
              <div class="col-md-3">
                <div class="well dash-box">
                  <h2><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{validTasks}}</h2>
                  <h4>Done</h4>
                </div>
              </div>
              <div class="col-md-3">
                <div class="well dash-box">
                  <h2><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{inValidTasks}}</h2>
                  <h4>In progress</h4>
                </div>
              </div>
            </div>
          </div>
          <!-- Latest Users -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Employees</h3>
            </div>
            <div class="panel-body">
              <table class="table table-striped table-hover">
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                </tr>
                {% for employee in employeesList %}
                <tr>
                    <td>{{employee.firstName +' '+employee.lastName}}</td>
                    <td>{{employee.email_adress}}</td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
{% endblock %}



