<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>
    {% block title %}

    {% endblock %}
  </title>
  {% if session.get('user_type') != 'directeur' %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  {% endif %}

  {% if current_user.is_authenticated and session.get('user_type')=='directeur' %}
  <link rel="stylesheet" href="../static/directAssets/css/bootstrap.min.css">
  <link href="../static/directAssets/css/style.css" rel="stylesheet">
  <script src="https://cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
  {% endif %}

  {% block style %}
  {% endblock %}
</head>

<body>
  {% set rule = request.url_rule %}
  <!--navbar here if user is directeur-->

  {% if current_user.is_authenticated and session.get('user_type')=='directeur' %}

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="dashboard.html">Space panel</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">

          <li class="{{'active' if 'dashboard' in rule.rule}}"><a href="{{url_for('Dashboard_direc')}}">Dashboard</a>
          </li>
          <li class="{{'active' if 'projet' in rule.rule}}"><a href="{{url_for('projetPage')}}">Projet</a></li>
          <li><a href="comments.html">Employees</a></li>
          <li><a href="users.html">Tasks</a></li>
          <li><a href="settings.html">Settings</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Welcome, {{current_user.firstName+' '+current_user.lastName}}</a></li>
          <li><a href="{{ url_for('logout_page') }}">Logout</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>

  <header id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <h1><span class="glyphicon glyphicon-home" aria-hidden="true"></span> {{ self.title() }}
            <small>{{self.projectTitle()}}</small>
          </h1>
        </div>
        <div class="col-md-2">
          <div class="dropdown create">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="true">
              {% block projectTitle%}
              {% for projet in current_user.Projects if projet.id == session.get('selected_projetc_id') %}
              {{projet.projet_title}}
              {%endfor%}
              {% endblock %}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              {% for projet in current_user.Projects %}
              <li>
                <a type="button" href="{{url_for('changeProjectSpace',id=projet.id,nextUrl= rule.rule)}}">{{projet.projet_title}}</a>
              </li>
              {% endfor %}


            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section id="breadcrumb">
    <div class="container">
      <ol class="breadcrumb">
        <li class="active">{{self.title()}}</li>
      </ol>
    </div>
  </section>

  <section id="main">
    <div class="container">
      <div class="row">

        <div class="col-md-3">
          <div class="list-group">
            <a href="{{url_for('Dashboard_direc')}}"
              class="list-group-item  {{'main-color-bg' if 'dashboard' in rule.rule}}">
              <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Dashboard
            </a>
            <a href="{{url_for('projetPage')}}" class="list-group-item {{'main-color-bg' if 'projet' in rule.rule}}">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              Projet
              <!-- <span class="badge">7</span></a> -->
            <a href="comments.html" class="list-group-item"><span class="glyphicon glyphicon-comment"
                aria-hidden="true"></span>
              Empoyees
              <!-- <span class="badge">12</span></a> -->
            <a href="users.html" class="list-group-item"><span class="glyphicon glyphicon-user"
                aria-hidden="true"></span> tasks
              <!-- <span class="badge">3</span></a> -->
            <a href="settings.html" class="list-group-item"><span class="glyphicon glyphicon-wrench"
                aria-hidden="true"></span> Settings
              <span class="badge"></span></a>
          </div>
        </div>

        <div class="col-md-9">

          {% block directeurContent%}

          {% endblock %}

        </div>
      </div>
    </div>
  </section>
  <footer id="footer">
    <p> &copy; ISET BIZERTE > SESAME</p>
  </footer>
  <!--Modal-->


  <script>
    CKEDITOR.replace('editor1');
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="../static/directAssets/js/bootstrap.min.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  {% endif %}




  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages%}

  <div class="toast bg-{{category}}" style="position:absolute ; right:3px;top:3px" role="alert" aria-live="assertive"
    aria-atomic="true" id="toastElem" data-delay="4200">
    <div class="toast-header">
      <button type="button" class="float-right close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
      {{message}}
    </div>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}

  {% block content%}

  {% endblock %}


  <script src='https://kit.fontawesome.com/a076d05399.js'></script>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages[0] %}

  <script>
    $('#toastElem').toast('show')
  </script>

  {% endif %}
  {% endwith %}

  {% block jsBlock%}

  {% endblock %}
</body>

</html>